extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.service
		.container
			.row
				.col
					h1.h1 Dich Vu
					h2 kjhjshdhsjhjshdjhs
	//- section.service1
	//- 	.container
	//- 		.row
	//- 			.col
	//- 				h1.h1 Dich Vu
			