<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row
			.col-md-4.mt-4
				h4 NEWSLETTER
				.about1
					p 156 Nguyen van thu, 1 district, hcm 
					| Hotline: 028 6273 0815 
					br
					span 
						u INFO@CANHCAM.VN
			.col-md-4.mt-4
				h4 PRODUCTS
				.row
					.col-6
						ul.list-unstyled.text-small
							li
								a(href="") ICE CREAM
							li
								a(href="") HERA
							li
								a(href="") SAIGON NIGHT
							li
								a(href="") PURE
					.col-6
						ul.list-unstyled.text-small
							li
								a(href="") MOISTURE
							li
								a(href="") STYLISH
							li
								a(href="") NATURAL
			.col-md-4.mt-4
				.lienhe
					h4.h4 ENTER YOUR EMAIL...
					p Subscribe to receive updates, access to exclusive deals,  and m
					.icons
						a(href="")
							i.fa.fa-facebook
						a(href="")
							i.fa.fa-camera
						a(href="")
							i.fa.fa-twitter
		.row
			.col
				.COPY
					hr
					p Copyright 2018 ABC. ALL RIGHT RESERVED. DESIGN BY FULLSTACK VIETNAM
