<!-- ////////////// HEADER ////////////// -->
header
	.container
		.row
			.col-12.col-md-4
				img.img-fluid(src="./img/logo.png", alt="")
			.col.col-md-auto
				ul.list-unstyled.text-small
					li
						a(href="") ABOUT US
					li
						a(href="") ALL PRODUCTS
					li
						a(href="") BEST SELLER
					li
						a(href="") EVENTS
					li
						a(href="") PHOTO REVIEW
					li
						a(href="") CONTACT US
					
<!-- ////////////// HEADER ////////////// -->
